.nom_client{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.clients{
   max-height: 562px;
   overflow-x: hidden;
}

.panel{
    background-color: rgb(218, 235, 249);
}
